<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Funny movie</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <div class="ml-auto">Welcome <b><%= @current_user.username %></b></div>
    <form class="form-inline my-2 my-lg-0 ">
      <button class="btn btn-primary my-2 mx-1 my-sm-0"  data-toggle="modal" data-target="#insertVideoModal" type="button">Share video</button>
      <%= link_to("Log out ", auth_logout_path, method: :delete, class: "btn btn-primary my-2 mx-1 my-sm-0") %>
    </form>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="insertVideoModal" tabindex="-1" role="dialog" aria-labelledby="insertVideoLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="insertVideoLabel">Insert youtube video</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "videos/form" %>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid mt-3">
  <%- @videos.each do |video| %>
    <%= render 'videos/show', video: video %>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">
    function like(video_id) {
        $.ajax({
            url: `/videos/${video_id}/like`,
            method: "put",
        }).done(function (response) {
            alert("you liked video")
        }).fail(function () {
            alert("error");
        })
    }

    function dislike(video_id) {
        $.ajax({
            url: `/videos/${video_id}/dislike`,
            method: "put",
        }).done(function (response) {
            alert("you disliked video")
        }).fail(function () {
            alert("error");
        })
    }

    let likeable = event => {
        $this = $(event.target)
        $this.removeClass("fa-thumbs-o-up")
        $this.removeClass("fa-thumbs-down")
        $this.addClass("fa-thumbs-up")
        $this.siblings().remove()
        $this.unbind('click', likeable)
        $this.bind('click', dislikeable)
        let video_id = $this.parent().closest('div').attr('data')
        like(video_id)
    }

    let dislikeable = event => {
        $this = $(event.target)
        $this.removeClass("fa-thumbs-o-down")
        $this.removeClass("fa-thumbs-up")
        $this.addClass("fa-thumbs-down")
        $this.siblings().remove()
        $this.unbind('click', dislikeable)
        $this.bind('click', likeable)
        let video_id = $this.parent().closest('div').attr('data')
        dislike(video_id)
    }

    $("i.fa-thumbs-o-up").on('click', likeable)
    $("i.fa-thumbs-o-down").on('click',dislikeable)
    $("i.fa-thumbs-up").on('click',likeable)
    $("i.fa-thumbs-down").on('click', dislikeable)
</script>